.banner {
    height: 50vh;
    position: relative;
    background: url("https://a0.muscache.com/4ea/air/v2/pictures/4bfe5a0a-375d-4a63-8c0b-5de59949e7d1.jpg?t=c:w1600-h800") center center;
}

.banner__info {
    background-color: black;
    color: white;
    padding: 25vh 50px 40px;
    width: 300px;
}

.banner__info > button {
    background-color: #ff7779;
    color: white;
    text-transform: inherit;
    margin-top: 10px;
    font-weight: 600;

}

.banner__info > button:hover {
    background-color: white;
    color: #ff7779;
}

.banner__info > h5 {
    margin-top: 10px;
}
.banner__searchButton{
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit!important;
    color: #ff7779!important;
}
.banner__search{
    display: flex;flex-direction: column;

}